@font-face {
  font-family: 'Stretch';
  src: url('../../../public/StretchPro.otf');
}

// Typography
@mixin h1 () {
  font-family: 'Stretch', sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 100%;

  @media screen and (min-width: "768px") {
    font-size: 48px;
  }

  @media screen and (min-width: "1280px") {
    font-size: 64px;
  }

  @media screen and (min-width: "1360px") {
    font-size: 76px;
  }
}

@mixin h2 () {
  font-family: 'Stretch', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  word-wrap: break-word;
  word-break: break-all;

  // Hay que ver si queremos esto porque nos rompe todo el esquema de tipografias
  // word-wrap: break-word;
  // word-break: break-all;

  @media screen and (min-width: "380px") {
    word-wrap: normal;
    word-break: normal;
  }

  @media screen and (min-width: "768px") {
    font-size: 36px;
  }

  @media screen and (min-width: "1280px") {
    font-size: 48px;
  }
}

@mixin h3 () {
  // font-family: 'Work Sans', sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 100%;
}

@mixin h4 () {
  // font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;

  @media screen and (min-width: "768px") {
    font-size: 24px;
  }

  @media screen and (min-width: "1024px") {
    font-size: 28px;
  }
}

@mixin subtitle1 () {
  // font-family: 'Work Sans', sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 100%;
}

@mixin subtitle2 () {
  // font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}

@mixin bodyHuge () {
  // font-family: 'Work Sans', sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 125%;
}

@mixin bodyNormal () {
  // font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 125%;

  @media screen and (min-width: "768px") {
    font-size: 16px;
  }
}

@mixin overline () {
  // font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

@mixin caption () {
  // font-family: 'Work Sans', sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 100%;
}

// Body styles
@mixin pagebody () {
  max-width: 1440px;
  margin: auto;
  padding-right: $spacing * 2;
  padding-left: $spacing * 2;

  @media screen and (min-width: "768px") {
    padding-right: $spacing * 6;
    padding-left: $spacing * 6;
  }
}