//  ______     ______     __   __     ______   ______     __   __     ______  
// /\  ___\   /\  __ \   /\ "-.\ \   /\__  _\ /\  ___\   /\ "-.\ \   /\__  _\ 
// \ \ \____  \ \ \/\ \  \ \ \-.  \  \/_/\ \/ \ \  __\   \ \ \-.  \  \/_/\ \/ 
//  \ \_____\  \ \_____\  \ \_\\"\_\    \ \_\  \ \_____\  \ \_\\"\_\    \ \_\ 
//   \/_____/   \/_____/   \/_/ \/_/     \/_/   \/_____/   \/_/ \/_/     \/_/ 

// *** Content ***
.one-column-content, .two-column-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px;
    height: 100%;
    max-width: 1440px;
    margin: auto;

    position: relative;
}

@media screen and (min-width: 768px) {

    .two-column-content {
        flex-direction: row;
    }
}

@media screen and (min-width: 1025px) {

    .one-column-content {
        justify-content: space-evenly;
    }
}

// Content Section indicator
.section-indicator {
    display: none !important;
    position: absolute;
    top: 20px;

    p {
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}

@media screen and (min-width: 768px) {

    .section-indicator {
        display: block !important;
    }
}

// Footer
footer {
    
    p {
        font-size: .8em;

        @media screen and (min-width: 768px) {

            font-size: 1em;
        }
    }


    svg {
        fill: #fff;
        width: 20px;
        height: 20px;
        margin: 0 8px;
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.3);
        }
    }
}