// *** GIF Animations ***
.gif {

    img {
        width: 300px;
        position: absolute;
        bottom: -100px;
        left: -100px;
        z-index: 9999;

        display: none;

        @media screen and (min-width: 768px) {
            display: block;
        }

        @media screen and (min-width: 1440px) {
            width: 450px;
            bottom: -150px;
            left: -150px;
        }
    }
}