//Form Styles
form {
    padding: 24px 0;

    .form-element {
        padding: 8px 0;

        input,textarea {
            background-color: rgba(255, 255, 255, 0.4);
            padding: 8px;
            border: solid 2px #fff;
            border-radius: 8px;
        }

        input {
            display: block;
            height: 45px;
            width: 50%;

            &::placeholder {
                color: #000;
                font-family: 'Work Sans', sans-serif;
                font-size: 1em;
                font-weight: 400;
                letter-spacing: 0.27em;
                text-transform: uppercase;
            }
        }

        textarea {
            width: 100%;

            &::placeholder {
                color: #000;
                font-family: 'Work Sans', sans-serif;
                font-size: 1em;
                font-weight: 400;
                letter-spacing: 0.27em;
                text-transform: uppercase;
            }
        }
    }

    button {
        cursor: pointer;
        padding: 24px 40px;
        background-color: #6000FF;
        color: #fff;
        border: solid 3px #6000FF;
        border-radius: 8px;

        font-family: 'Work Sans', sans-serif;
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 0.27em;
        text-transform: uppercase;

        transition: all .3s ease-in-out;

        &:hover {
            background-color: transparent;
            color: #6000FF;
        }
    }
}