// *** Hamburger ***
.hamburger {
    width: 30px;
}

.close {
    width: 25px;
    top: 8px !important;
    right: 13px;

    @media screen and (min-width: 768px) {
        top: -18px !important;        
    }
}

label {
    position: absolute;
    right: 24px;
    z-index: 999;
}

input {
    display: none;
}

// burger
////////////////////////////////////////////////
.burger {
    position: relative;
    top: 24px;
    cursor: pointer;
}

.burger g {
    stroke: #ffffff;
    transition: stroke 0.25s ease-in-out;    
}

.burger g:hover {
    stroke: darken(#ffffff, 20%);
}

// menu
////////////////////////////////////////////////
.menu {
    width: 100vw;
    height: 100vh;
    padding-left: 32px;
    color: #fff;
    
    position: fixed;
    top: 0;
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    background-image: url('../public/img/background-light-mobile.png');
    background-position: center;
    background-size: cover;
    transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    font-family: 'Stretch Pro', sans-serif;
    font-size: 2em;
    text-align: left;
    text-transform: uppercase;
}

.menu div {
    transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (min-width: 768px) {

    .menu {
        font-size: 4em;
        background-image: url('../public/img/background-light-desktop.png');
    }
}

@media screen and (min-width: 1024px) {

    .menu {
        font-size: 5em;
        padding: 0 25vw 0 15vw;

        a {
            position: relative;
            transition: all .2s ease;
        }
    }

    .menu a::after {
        content: url("../public/img/asterisco.svg");
        width: 60px;
        display: none;
        position: absolute;
        right: -90px;
    }

    .menu a:hover::after {
        display: inline-block;
    }
}

// Class to override opacity
.open-menu {
    opacity: 1 !important;
    z-index: 998 !important;
}

.toggle {
    position: fixed;
    top: 0;
}