// *** Hamburger ***
.hamburger {
    width: 30px;
}

.close {
    width: 25px;
    top: 8px !important;
    right: 13px;

    @media screen and (min-width: 768px) {
        top: 18px !important;        
    }
}

label {
    position: absolute;
    right: 24px;
    z-index: 999;
}

input {
    display: none;
}

// burger
////////////////////////////////////////////////
.burger {
    position: relative;
    top: 24px;
    cursor: pointer;
}

// menu
////////////////////////////////////////////////
.menu {
    width: 100vw;
    height: 100vh;
    padding-left: 32px;
    color: #fff;
    
    position: fixed;
    top: 0;
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    background-image: url('../public/img/background-light-mobile.png');
    background-position: center;
    background-size: cover;

    transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    div {
        padding-bottom: 25px;
        transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    a {
        display: inline-block;

        .menu-word {
            height: 25px;
        }
    }
}

@media screen and (min-width: 768px) {

    .menu {
        background-image: url('../public/img/background-light-desktop.png');

        a {

            .menu-word {
                height: 40px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {

    .menu {
        padding-left: 10vw;

        a {
            position: relative;
            transition: all .2s ease;

            .menu-word {
                height: 55px;
            }
        }
    }

    .menu a::after {
        content: url("../public/img/asterisco.svg");
        width: 60px;
        display: none;
        position: absolute;
        right: -90px;
    }

    .menu a:hover::after {
        display: inline-block;
    }
}

@media screen and (min-width: 1440px) {
    .menu {

        a {
            .menu-word {
                height: 70px;
            }
        }
    }
}

// Class to override opacity
.open-menu {
    opacity: 1 !important;
    z-index: 998 !important;
}

.toggle {
    position: fixed;
    top: 0;
}