// *** Intro ***
.intro {

    div {
        display: flex;
    }

    .intro-img {

        img {
            width: 60%;
            margin: 0;
        }
    }

    .intro-text {
        padding-top: 48px;
        
        img {
            width: 300px;
        }
    }
}

@media screen and (min-width: 768px) {

    .intro {

        .intro-img {
            width: 40%;

            img {
                margin: auto;
            }
        }

        .intro-text {
            width: 60%;
        }
    }
}

@media screen and (min-width: 1024px) {

    .intro {

        .intro-img {
            
            img {
                width: 250px;
            }
        }

        .intro-text {

            img {
                width: 450px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {

    .intro {

        .intro-img {
            
            img {
                width: 350px;
            }
        }

        .intro-text {

            img {
                width: 650px;
            }
        }
    }
}




// *** Services ***
.slogan {
    width: 350px;
}

#servicios {

    .content {

        .one-column-content {
            justify-content: space-evenly;
        }
    }
}

.services {
    height: 60%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;

    .services-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 50%;
        margin: 16px 0;
        text-align: center;

        img {
            height: 80px;
            margin: auto;
            margin-bottom: 16px;
        }

        h6 {
            font-family: 'Work Sans', sans-serif;
            font-weight: 600;
            font-size: 1em;
            text-transform: uppercase;
            letter-spacing: 0.16em;
            margin-bottom: 8px;
        }

        p {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .slogan {
        width: 500px;
    }
}

@media screen and (min-width: 1024px) {

    .slogan {
        width: 750px;
    }

    .services {
        justify-content: space-between;

        .services-item {
            width: auto;
            max-width: 250px;
            margin: 0 16px;

            img {
                height: 100px;
            }
        }
    }
    
}

@media screen and (min-width: 1280px) {

    .slogan {
        width: 900px;
    }

    .services {

        .services-item {

            h6 {
                font-size: 1.1em;
            }
        }
    }
}



// *** Clients ***
.clients {
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;

    img {
        width: 35%;
        margin: 16px;
    }
}

@media screen and (min-width: 768px) {

    .clients {

    
        img {
            width: 200px;
            margin: 24px;
        }
    }
}

@media screen and (min-width: 1280px) {

    .clients {

        img {
            width: 250px;
        }

        img:nth-child(4), img:nth-child(5), img:nth-child(6) {
            width: 230px;
        }
    }
}



// *** About-us ***
.about {

    p {
        display: none;
        max-width: 800px;

        font-family: 'Work Sans', sans-serif;
        font-size: 1.5em;
        font-weight: 300;
        text-align: center;
    }

    .aboutus {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        .aboutus-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
    
            img {
                height: 120px;
                margin: auto;
                margin-bottom: 16px;
                border-radius: 50%;
            }

            p {
                display: block;
                font-size: 15px;
                text-transform: uppercase;

                span {
                    font-size: 1.2em;
                    font-weight: 700;
                    text-transform: uppercase;
                }                
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .about {

        p {
            display: block;
        }

        .aboutus {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
    
            .aboutus-item {
                width: 300px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {

    .about {

        .aboutus {
    
            .aboutus-item {
                
                img {
                    height: 150px;
                }
            }
        }
    }
}



// *** Contact us***
.contact-us {
    align-items: flex-start;

    .contact-img {

        img {
            width: 150px;
        }
    }

    .contact-form {

        h5 {
            font-family: 'Work Sans', sans-serif;
            font-size: 1.5em;
            font-weight: 500;
            text-transform: uppercase;
        }

        a {
            font-family: 'Stretch Pro', sans-serif;
            font-size: 2em;
            font-weight: 600;
            text-transform: uppercase;

            word-break: break-all;
        }
    }
}

@media screen and (min-width: 768px) {
    
    .contact-us {
        align-items: center;

        .contact-img {

            img {
                width: 300px;
            }
        }

        .contact-form {
            max-width: 750px;
            
            h5 {
                font-size: 2em;
            }

            a {
                font-size: 2.5em;
                max-width: 300px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {

    .contact-us {

        .contact-form {
            padding-left: 48px;

            a {
                font-size: 3em;
            }
        }
    }
}