// ===== Tipos =====
//  ______   __     ______   ______     ______    
// /\__  _\ /\ \   /\  == \ /\  __ \   /\  ___\   
// \/_/\ \/ \ \ \  \ \  _-/ \ \ \/\ \  \ \___  \  
//    \ \_\  \ \_\  \ \_\    \ \_____\  \/\_____\ 
//     \/_/   \/_/   \/_/     \/_____/   \/_____/ 

// Custom Perro Fonts
@font-face {
    font-family: 'Stretch Pro';
    src: url('../assets/fonts/stretchpro-webfont.woff') format('woff2');
}

// *** Headings ***
.heading {
    font-family: 'Stretch Pro', sans-serif;
    line-height: 1;
    text-transform: uppercase
}

.heading-01 {
    @extend .heading; 
    font-size: 3em;
    text-align: left;
}

.heading-02 {
    @extend .heading; 
    font-size: 2em;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .heading-01, .heading-02 {
        font-size: 3.5em;
    }
}

@media screen and (min-width: 1024px) {

    .heading-01, .heading-02 {
        font-size: 4.5em;
    }
}

// *** Other text ***
.upper-text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
    
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {

    .upper-text {
        font-size: 1.5em;
    }
}