// ===== Refactor =====
//  ________  _______   ________ ________  ________ _________  ________  ________     
// |\   __  \|\  ___ \ |\  _____\\   __  \|\   ____\\___   ___\\   __  \|\   __  \    
// \ \  \|\  \ \   __/|\ \  \__/\ \  \|\  \ \  \___\|___ \  \_\ \  \|\  \ \  \|\  \   
//  \ \   _  _\ \  \_|/_\ \   __\\ \   __  \ \  \       \ \  \ \ \  \\\  \ \   _  _\  
//   \ \  \\  \\ \  \_|\ \ \  \_| \ \  \ \  \ \  \____   \ \  \ \ \  \\\  \ \  \\  \| 
//    \ \__\\ _\\ \_______\ \__\   \ \__\ \__\ \_______\  \ \__\ \ \_______\ \__\\ _\ 
//     \|__|\|__|\|_______|\|__|    \|__|\|__|\|_______|   \|__|  \|_______|\|__|\|__|

//Typography
@import 'typos';

//Menu
@import 'menu';

//Sectors
@import 'content';

//Sectors
@import 'sectors';

//Modal
@import 'modal';

//Form
@import 'form';

//TyC
@import 'tyc';

//  ______     ______     ______     __  __     ______     ______     ______     __  __     __   __     _____     ______    
// /\  == \   /\  __ \   /\  ___\   /\ \/ /    /\  ___\   /\  == \   /\  __ \   /\ \/\ \   /\ "-.\ \   /\  __-.  /\  ___\   
// \ \  __<   \ \  __ \  \ \ \____  \ \  _"-.  \ \ \__ \  \ \  __<   \ \ \/\ \  \ \ \_\ \  \ \ \-.  \  \ \ \/\ \ \ \___  \  
//  \ \_____\  \ \_\ \_\  \ \_____\  \ \_\ \_\  \ \_____\  \ \_\ \_\  \ \_____\  \ \_____\  \ \_\\"\_\  \ \____-  \/\_____\ 
//   \/_____/   \/_/\/_/   \/_____/   \/_/\/_/   \/_____/   \/_/ /_/   \/_____/   \/_____/   \/_/ \/_/   \/____/   \/_____/ 
// *** Backgrounds ***
.background-dark {
    background-image:url("../assets/img/background-dark-mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        background-image:url("../assets/img/background-dark-desktop.png");
    }
}

.background-light {
    background-image:url("../assets/img/background-light-mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        background-image:url("../assets/img/background-light-desktop.png");
    }
}


.success-body {

    main {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        section {
            text-align: center;
    
            h3 {
                color: #fff;
                margin-bottom: 24px;
                font-size: 1.5em;

                @media screen and (min-width: 768px) {
                    font-size: 2.5em;
                }
                
            }

            a {
                font-family: 'Work Sans', sans-serif;
                font-size: 1.2em;
                font-weight: 300;
                color: #6000FF;
            }
        }
    }
}

// *** Logotipo ***
.logotipo {
    max-width: 100px;
}

@media screen and (min-width: 1024px) {

    .logotipo {
        max-width: 150px;
    }
}

.slides-layout {
    height: 100vh !important;
}

.content {
    height: 100% !important;
}



// *** Footer ***
footer {

    p {
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: .8em;

        a {
            text-decoration: underline;
        }
    }
}

// *** Extras ***
// *** GIF Animations ***
.gif {

    img {
        width: 300px;
        position: absolute;
        bottom: -100px;
        left: -100px;
        z-index: 9999;

        display: none;

        @media screen and (min-width: 768px) {
            display: block;
        }

        @media screen and (min-width: 1440px) {
            width: 400px;
            bottom: -150px;
            left: -150px;
        }
    }
}

//ARROWS
.arrows {
    display: none;
    width: 100px;
    position: absolute;
    top: 40vh;
    right: 32px;

    @media screen and (min-width: 1024px) {
        display: block;
    }

    @media screen and (min-width: 1280px) {
        width: 150px;
    }
}