// ===== Refactor =====
//  ________  _______   ________ ________  ________ _________  ________  ________     
// |\   __  \|\  ___ \ |\  _____\\   __  \|\   ____\\___   ___\\   __  \|\   __  \    
// \ \  \|\  \ \   __/|\ \  \__/\ \  \|\  \ \  \___\|___ \  \_\ \  \|\  \ \  \|\  \   
//  \ \   _  _\ \  \_|/_\ \   __\\ \   __  \ \  \       \ \  \ \ \  \\\  \ \   _  _\  
//   \ \  \\  \\ \  \_|\ \ \  \_| \ \  \ \  \ \  \____   \ \  \ \ \  \\\  \ \  \\  \| 
//    \ \__\\ _\\ \_______\ \__\   \ \__\ \__\ \_______\  \ \__\ \ \_______\ \__\\ _\ 
//     \|__|\|__|\|_______|\|__|    \|__|\|__|\|_______|   \|__|  \|_______|\|__|\|__|

//Typography
@import 'typos';

//Menu
@import 'menu';

//Sectors
@import 'content';

//Sectors
@import 'sectors';

//  ______     ______     ______     __  __     ______     ______     ______     __  __     __   __     _____     ______    
// /\  == \   /\  __ \   /\  ___\   /\ \/ /    /\  ___\   /\  == \   /\  __ \   /\ \/\ \   /\ "-.\ \   /\  __-.  /\  ___\   
// \ \  __<   \ \  __ \  \ \ \____  \ \  _"-.  \ \ \__ \  \ \  __<   \ \ \/\ \  \ \ \_\ \  \ \ \-.  \  \ \ \/\ \ \ \___  \  
//  \ \_____\  \ \_\ \_\  \ \_____\  \ \_\ \_\  \ \_____\  \ \_\ \_\  \ \_____\  \ \_____\  \ \_\\"\_\  \ \____-  \/\_____\ 
//   \/_____/   \/_/\/_/   \/_____/   \/_/\/_/   \/_____/   \/_/ /_/   \/_____/   \/_____/   \/_/ \/_/   \/____/   \/_____/ 
// *** Backgrounds ***
.background-dark {
    background-image:url("../public/img/background-dark-mobile.png");

    @media screen and (min-width: 768px) {
        background-image:url("../public/img/background-dark-desktop.png");
    }
}

.background-light {
    background-image:url("../public/img/background-light-mobile.png");

    @media screen and (min-width: 768px) {
        background-image:url("../public/img/background-light-desktop.png");
    }
}


// *** Logotipo ***
.logotipo {
    max-width: 100px;
}

@media screen and (min-width: 1024px) {

    .logotipo {
        max-width: 150px;
    }
}

.slides-layout {
    height: 100vh !important;
}

.content {
    height: 100% !important;
}

// *** Footer ***
footer {

    p {
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: .8em;
    }
}

// *** Extras ***
// *** GIF Animations ***
.gif {

    img {
        width: 300px;
        position: absolute;
        bottom: -100px;
        left: -100px;
        z-index: 9999;

        display: none;

        @media screen and (min-width: 768px) {
            display: block;
        }

        @media screen and (min-width: 1440px) {
            width: 450px;
            bottom: -150px;
            left: -150px;
        }
    }
}