/* Re-usable stuff */

//position
.top, .align-top { vertical-align: top !important;}
.left, .align-left { text-align: left !important;}
.right, .align-right { text-align: right !important;}
.center, .align-center { text-align: center !important;}
.middle { vertical-align: middle !important;}
.bottom { vertical-align: bottom !important;}
.rtl { direction: rtl; unicode-bidi: embed;}
.position-left { left: 0; }
.position-top { top: 0; }
.position-bottom { bottom: 0; }
.position-right { right: 0; }
.float-right { float: right !important;}
.float-left { float: left !important;}
.float-none { float: none !important;}

.slides.firstSlide .hideForFirstSlide,
.slides.lastSlide .hideForLastSlide {
  display: none;
}

//Padding and Margin Generation
$properties: padding padding-top padding-right padding-bottom padding-left margin margin-top margin-right margin-bottom margin-left;
@each $property in $properties {
  $i: index($properties, $property);

  @for $n from 0 through 20 {
    $value: 10px * $n;
    .#{$property}-#{$n} {
      #{$property}: $value !important;
    }
  }
}

//Padding and Margin for Tablet
@include media($desktop, min){
  @each $property in $properties {
    $i: index($properties, $property);

    @for $n from 0 through 20 {
      $value: 10px * $n;
      .#{$property}-desktop-#{$n} {
        #{$property}: $value !important;
      }
    }
  }
}

//Padding and Margin for Tablet
@include media($tablet, max){
  @each $property in $properties {
    $i: index($properties, $property);

    @for $n from 0 through 20 {
      $value: 10px * $n;
      .#{$property}-tablet-#{$n} {
        #{$property}: $value !important;
      }
    }
  }
}

//Padding and Margin for Phablet
@include media($phablet, max){
  @each $property in $properties {
    $i: index($properties, $property);

    @for $n from 0 through 20 {
      $value: 10px * $n;
      .#{$property}-phablet-#{$n} {
        #{$property}: $value !important;
      }
    }
  }
}

//Padding and Margin for Phone
@include media($phone, max){
  @each $property in $properties {
    $i: index($properties, $property);

    @for $n from 0 through 20 {
      $value: 10px * $n;
      .#{$property}-phone-#{$n} {
        #{$property}: $value !important;
      }
    }
  }
}

//
.space { padding: 0 20px;}
.pointer,
.cursorPointer { cursor: pointer;}
.cursorZoomIn {
	cursor:  pointer;
	cursor:  -moz-zoom-in !important;
	cursor:  -webkit-zoom-in !important;
}
.cursorZoomOut {
	cursor:  pointer;
	cursor:  -moz-zoom-out !important;
	cursor:  -webkit-zoom-out !important;
}
.cursorGrab {
	cursor: move; 
	cursor: grab !important;
	cursor: -moz-grab !important;
	cursor: -webkit-grab !important;
}

.cursorGrab:active {
	cursor: grabbing !important;
	cursor: -moz-grabbing !important;
	cursor: -webkit-grabbing !important;
}