.blogTemplateBody {
  @include pagebody;
  max-width: 1000px;
  margin: auto;
  padding-top: $spacing * 4;
  padding-bottom: $spacing * 4;

  @media screen and (min-width: "768px") {
    padding-top: $spacing * 5;
    padding-bottom: $spacing * 5;
  }

  a {
    display: inline-block;
    margin-bottom:  $spacing * 4;

    svg {
      width: 48px;
      height: auto;
      transform: rotate(-90deg);

      path {
        stroke: $accent-main;
      }
    }
  }

  h1 {
    @include h2;
    color: $white;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: $spacing * 6;
  }

  p {
    @include bodyNormal;
    color: $white;
  }

  img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-top: $spacing * 4;
    margin-bottom: $spacing * 4;
  }
}