@import "terms";
@import "contact";
@import "home";
@import "culture";

// Estilos de Home Main Clients
.clients {
  padding-top: $spacing * 3;
  padding-bottom: $spacing * 3;

  @media screen and (min-width: "768px") {
    padding-top: $spacing * 5;
    padding-bottom: $spacing * 5;
  }

  @media screen and (min-width: "1280px") {
    padding-top: $spacing * 10;
    padding-bottom: $spacing * 10;
  }

  .clientsTitle {
    text-align: left;
    color: $white;
    margin-bottom: $spacing * 6;

    p {
      @include overline;
      margin-bottom: $spacing;
    }

    h3 {
      @include h2;
      text-transform: uppercase;
    }
  }

  .clientsCarousel {
    display: flex;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    img {
      height: 60px;
      width: auto;
      margin-right: $spacing * 10;
    }
  }
}