nav {
  height: 100vh;
  width: 100vw;
  padding-top: $spacing * 4;
  padding-bottom: $spacing * 4;
  padding-left: $spacing * 5;
  padding-right: $spacing * 5;

  display: flex;
  flex-direction: column;
  background-color: $primary-main;
}

.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .perrologo {
    height: 24px;
  }
}

.navBody {
  flex-grow: 1;

  padding-top: $spacing * 3;
  padding-bottom: $spacing * 3;
}

.navFooter {
  p {
    @include overline;
    margin-bottom: $spacing;
  }

  ul {
    display: flex;

    @include h4;
    text-transform: uppercase;

    & > li:not(:first-child) {
      margin-left: $spacing * 2;
    }
  }
}

.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  max-width: 1440px;
  margin: auto;
  padding-top: $spacing * 4;
  padding-right: $spacing * 2;
  padding-bottom: $spacing * 4;
  padding-left: $spacing * 2;

  @media screen and (min-width: "768px") {
    padding-top: $spacing * 4;
    padding-right: $spacing * 6;
    padding-bottom: $spacing * 4;
    padding-left: $spacing * 6;
  }

  svg {
    width: 40px;
    mix-blend-mode: difference;
  }
}

