.back-to-top {
    width: 50px;
    transform: rotate(-90deg);
    position: fixed;
    z-index: 9;

    top: 88vh;
    right: 40px;

    @media screen and (min-width: 768px) {
        width: 65px;

        top: 88vh;
        right: 40px;
    }
}