.back-to-top {
    width: 50px;
    transform: rotate(-90deg);
    position: fixed;
    z-index: 99;

    bottom: 64px;
    right: 40px;
    
    mix-blend-mode: difference;

    @media screen and (min-width: 768px) {
        width: 65px;
        right: 40px;
    }
}