.blob {
    position:absolute;
}

.blob-back, .blob-front  {
    display: none;
    filter: blur(100px);

    @media screen and (min-width: 768px) {
        display: block;
        width: 1200px;
    }

    @media screen and (min-width: 1024px) {
        width: 2000px;
    }
}

.home-header {

    .blob {

        @media screen and (min-width: 768px) {
            top: -50px;
            left: -550px;
        }
    
        @media screen and (min-width: 1024px) {
            top: -500px;
            left: -1000px;
        }
    }
}

.home-main {

    .blob-back, .blob-front  {
    
        @media screen and (min-width: 768px) {
            display: block;
            width: 800px;
        }
    
        @media screen and (min-width: 1024px) {
            width: 1500px;
        }
    }

    #home-servicios {

        .blob {

            @media screen and (min-width: 768px) {
                top: -50px;
                right: -500px;
            }
        
            @media screen and (min-width: 1024px) {
                top: -150px;
                right: -800px;
            }
        }
    }

    #home-business {

        .blob {

            @media screen and (min-width: 768px) {
                top: -50px;
                left: -500px;
            }
        
            @media screen and (min-width: 1024px) {
                top: -150px;
                left: -800px;
            }
        }
    }
}