// GIF Animations
.gif {

    img {
        width: 300px;
        position: absolute;
        bottom: -120px;
        left: -150px;
        z-index: 9999;

        display: none;

        @media screen and (min-width: 768px) {
            display: block;
        }
    }
}