.perro-isologotype {
    width: 120px;

    @media screen and (min-width: 768px) {
        width: 160px;
    }
}

.offcanvas {
    background-color: $dark;

    .offcanvas-header {
        height: 40px;
    }
    
    .offcanvas-body {

        .offcanvas-navigation {

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {

                    a {

                    }
                }
            }
        }
    }

    .offcanvas-footer {

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
            }
        }
    }
}