.navbar {
    padding: 16px 24px;
    position: relative;
    z-index: 9999;

    @media screen and (min-width: 768px) {
        padding: 24px 48px;
    }
}

.perro-isologotype {
    width: 120px;

    @media screen and (min-width: 768px) {
        width: 160px;
    }
}

.offcanvas {
    background-color: $dark;
    padding: 16px 24px;
    z-index: 9999999;

    @media screen and (min-width: 768px) {
        padding: 24px 48px;
    }

    .offcanvas-header {
        height: 40px;
    }
    
    .offcanvas-body {

        .offcanvas-navigation {

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        }
    }
}