// Words
// Lo puse asi porque sino no pisa otro estilo que nos rompe todo
.home-header {

    .word-wemake {
        width: 100%;
        max-width: 800px;
    
        margin: 0;
        margin-bottom: 32px;
    }
}

.word-business, .word-somos {
    max-width: 700px;
}

.word-perrosladran {
    max-width: 900px;
}

.word-sabuesos {
    max-width: 900px;
}

.word-compartinos, .word-confian {
    max-width: 600px;
}