// Words
// Lo puse asi porque sino no pisa otro estilo que nos rompe todo
.home-header {

    .word-wemake {
        width: 100%;
        max-width: 800px;
    
        margin: 0;
        margin-bottom: 32px;
    }
}

//Word Business
.word-business, .word-crew {
    max-width: 700px;
    position: relative;
    z-index: 999;
}

//Word Perros Ladran
.word-perrosladran {
    max-width: 900px;
}

.word-perrosladran-mobile {
    
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.word-perrosladran-desktop {
    display: none;
    
    @media screen and (min-width: 768px) {

        display: inline-block;
    }
}

//Word sabuesos
.word-sabuesos {
    max-width: 900px;
}

//Word compartinos y confian
.word-compartinos, .word-confian {
    max-width: 600px;
}