// Words
.word-wemake {
    width: 100%;
    max-width: 800px;

    margin: 0;
    margin-bottom: 32px;
}

.word-business{
    max-width: 700px;
}

.word-perrosladran {
    max-width: 900px;
}

.word-compartinos {
    max-width: 900px;
}