footer {
    position: relative;
    z-index: 9;
}

footer, .offcanvas-footer {

    a {
        text-decoration: none;
        @extend .highlight-text;
        @extend .color-light;
        @extend .links;
    }
    
    ul {

        li {
            list-style-type: none;
            display: inline-block;
            @extend .color-light;
            @extend .highlight-text;
        }
    }

    .legal {

        p {
            max-width: 600px;
        }
    }
}