header {
    position: relative;
    z-index: 999;
    padding: 48px 24px;
}

.home-header {

    @media screen and (min-width: 768px) {
        padding: 48px;
    }

    img {
        width: 100%;
        max-width: 200px;

        @media screen and (min-width: 768px) {
            width: 80%;
            max-width: 400px;
            margin: auto;
        }
    }

    .container {

        .row {

            .col-md-6 {
                margin: 16px 0;

            
                @media screen and (min-width: 768px) {
                    margin: 0;
                }
            }
        }
    }
}

//Culture header
.culture-header {

    .container {

        .row {

            .col-md-6 {
                margin: 16px 0;
            
                @media screen and (min-width: 768px) {
                    margin: 0;
                }
            }
        }
    }
}