header {
}

.home-header {
    padding: 48px 24px;

    @media screen and (min-width: 768px) {
        padding: 48px;
    }

    img {
        width: 100%;
        max-width: 200px;

        @media screen and (min-width: 768px) {
            width: 80%;
            max-width: 500px;
            margin: auto;
        }
    }

    .word-wemake {
        width: 100%;
        max-width: 800px;

        margin: 0;
        margin-bottom: 32px;
    }

    .container {

        .row {

            .col-md-6 {
                margin: 16px 0;

            
                @media screen and (min-width: 768px) {
                    margin: 0;
                }
            }
        }
    }
}