// Main wrapper styles
body {
    background-color: $dark;
    position: relative;
    overflow-x: hidden;
}

.main-wrapper {
    overflow-x: hidden;
}

main {

    section {
        padding: 80px 24px;
        position: relative;


        @media screen and (min-width: 768px) {
            padding: 120px 0;
        }

        .containter {
            position: relative;
        }
    }
}

//Business section
#home-servicios {

    p {
        position: relative;
        z-index: 9;
    }
}

//Business section
#home-business {

    p {
        max-width: 700px;
    }
}

//Culture Nosotros
.culture-nosotros {

    p {
        max-width: 700px;
    }
}