// Main wrapper styles
body {
    background-color: $dark;
    position: relative;
    overflow-x: hidden;
}

.main-wrapper {
    overflow-x: hidden;
}

main {

    section {
        padding: 48px 24px;
        position: relative;


        @media screen and (min-width: 768px) {
            padding: 96px 0;
        }

        .containter {
            position: relative;
        }
    }
}

//Business section
#home-servicios {

    p {
        position: relative;
        z-index: 1;
    }

    .lista-servicios {
        margin: 16px 0;

        .servicio-wrap {
            position: relative;
            background: linear-gradient(to right, #270067, #6000FF);
            padding: 3px;
            border-radius: 8px;
            margin: 16px 0;

            @media screen and (min-width: 1440px) {
                margin: 0;
            }
        }

        .servicio {
            position: relative;
            z-index: 1;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
    
            color: $light;
            height: 300px;
            padding: 16px;
            text-align: center;

            border-radius: 8px;
            background-color: black;
            transition: .5s ease-in-out;

            &:hover {
                background: linear-gradient(to right, #270067, #6000FF);
            }

            @media screen and (min-width: 768px) {
                width: 250px;
                height: 350px;
            }

            @media screen and (min-width: 1440px) {
                width: 230px;
            }
    
            img {
                height: 80px;
                position: relative;
            }
    
            h4 {
                @extend .overline;
                font-weight: 700;
                margin-top: 16px;
            }
    
            .servicio-description {
                @extend .body-small;
            }
        }
    }
}
//Business section
#home-business {

    p {
        max-width: 700px;
    }
}

//Clients section
#home-clientes, #culture-clientes {

    .clientes {
        
        img {
            width: 130px;
            margin: 8px;

            @media screen and (min-width: 768px) {
                width: 100px;
                margin: 0;
            }

            @media screen and (min-width: 1024px) {
                width: 150px;
                margin: 0;
            }

            @media screen and (min-width: 1440px) {
                width: 200px;
            }
        }

        .onfire {
            width: 80px;
        }
    }
}

//Culture Nosotros
.culture-nosotros {

    p {
        max-width: 700px;
    }
}