// Color Variables
$primary: #5E00FA;
$secondary: #F08200;
$accent: #B6FC33;
$dark: #000000;
$light: #ffffff;

// Colors in styles
.color-primary {
    color: $primary;
}

.color-secondary {
    color: $secondary;
}

.color-accent {
    color: $accent;
}

.color-dark {
    color: $dark;
}

.color-light {
    color: $light;
}
